body{
    box-sizing: border-box;
}

p{
    font-family: 'Indie Flower', cursive;
}

h1{
    font-family: 'Permanent Marker', cursive; 
}

h2{
    font-family: 'Gloria Hallelujah', cursive; 
}

h3{
    font-family: 'Shadows Into Light', cursive;
}